@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Outfit", sans-serif;
  background-color: #f82b47;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}


header {
  background-color: #f82b47;
  margin: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
}

header nav ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
}

footer {
  background-color: #000;
  color: #f82b47;
  margin-top: 75vw;
  text-align: center;
}

footer h2 {
  padding-top: 4vw;
  font-size: 4vw;
}

footer p {
  padding-top: 2vw;
  margin-top: -7vw;
  margin-bottom: -1vw;
  font-size: 3.3vw;
}

footer ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  margin-left: -8vw;
}

header nav a {
  color: #000;
  text-decoration: none;
  font-weight: 900;
}

footer a {
  color: #fad1a6;
  text-decoration: none;
  text-align: center;
  font-weight: 900;
  padding-left: 4vw;
  padding-right: 4vw;
  font-size: 3.3vw;
}

header nav a:hover {
  color: #fad1a6;
}

footer a:hover {
  color: #f82b47;
}

header nav li {
  padding: 2.5vw;
}

header nav li:first-child {
  padding-left: 0;
}

.blocktype {
  color: #000;
  font-weight: 900;
  font-size: 28.5vw;
  line-height: 28.5vw;
  padding: 0;
  margin-top: -5vw;
  margin-bottom: -5vw;
  text-transform: uppercase;
  display: block;
}
