@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
 -moz-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
 text-size-adjust: 100%;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Outfit', sans-serif;
  background-color: #f82b47;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}


header {
  background-color: #f82b47;
  margin: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
}

header nav ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
}

footer {
background-color: #000;
color: #f82b47;
margin-top: 60vw;
text-align: center;
}

footer h3 {
  padding-top: 4vw;
  font-size: 4vw;
}

footer p {
padding-top: 2vw;
margin-top: -7vw;
margin-bottom: -1vw;
font-size: 3.3vw;
}

footer ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  margin-left: -8vw;
}

header nav a {
  color: #000;
  text-decoration: none;
  font-weight: 900;
}

footer a {
  color: #fad1a6;
  text-decoration: none;
  text-align: center;
  font-weight: 900;
  padding-left: 4vw;
  padding-right: 4vw;
  font-size: 3.3vw;
}

header nav a:hover {
  color: #fad1a6;
}

footer a:hover {
  color: #f82b47;
}

header nav li {
  padding: 2.5vw;
}

header nav li:first-child {
  padding-left: 0;
}

.sergei {
  color: #000;
  position: relative;
  top: 10vw;
}

.sergei .nickname {
  font-size: 12.9vw;
  margin-bottom: -4vw;
  background-color: #000;
  text-align: center;
  font-weight: 900;
  color: #f82b47;
  position: relative;
  margin-top: -10vw;
}

.bonk .nickname {
  /* font-size: 45pt; */
  font-size: 12.9vw;
  margin-bottom: -4vw;
  background-color: #000;
  text-align: center;
  font-weight: 900;
  color: #f82b47;
  /* new css properties */
  position: relative;
  margin-top: 54vw;
}

.sergei .name {
  /* font-size: 20pt; */
  font-size: 5.7vw;

  margin-bottom: 28vw;
  margin-top: 0;
  background-color: #000;
  text-align: center;
  color: #fad1a6;
  /* new css properties */
  position: relative;
  padding-bottom: 2vw;
}

.bonk .name {
  /* font-size: 20pt; */
  font-size: 5.7vw;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #000;
  text-align: center;
  color: #fad1a6;
  /* new css properties */
  position: relative;
  padding-bottom: 2vw;
}


.sergei .playerinfo {
  background-color: #fad1a6;
  padding-top: 4vw;
  margin-top: -30vw;
  padding-bottom: 28vw;
  margin-bottom: -65vw;
}

.bonk .playerinfo {
  background-color: #fad1a6;
  padding-top: 4vw;
  margin-top: 0vw;
  padding-bottom: 28vw;
  margin-bottom: -80vw;
}

.vitals li {
  text-align: center;
  text-decoration: none;
  list-style: none;
  font-weight: 400;
  color: #f82b47;
  font-size: 3.3vw;
  margin-left: -6vw;
}

.vitals li strong {
  color: #000;
}

.bio {
  text-align: justify;
  padding-right: 1rem;
  padding-left: 1rem;
}

.stats {
  text-align: center;
  margin-top: 0;
  color: #f82b47;
  margin-bottom: 0;
  font-size: 3.3vw;
}

.statvalue {
  color: #000;
  margin-bottom: 0;
}

.statheader {
   margin-bottom: 0;
   text-align: center;
   color: #f82b47;
   font-weight: 700;
   font-size: 3.3vw;
 }

.banner .blocktype {
  color: #fad1a6;
  font-weight: 900;
  /* font-size: 95pt; */
  font-size: 28.5vw;
  /* line-height: 1; */
  line-height: 28.5vw;
  padding: 0;
  margin-top: 0;
  /* margin-bottom: -1.5rem; */
  margin-bottom: -5vw;
  text-transform: uppercase;
  /* new css property */
  /* force each span onto its own line */
  display: block;
}

@media only screen and (min-width: 60em) {

.playerinfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sergei .playerinfo {
  margin-bottom: -42.5vw;
  padding-bottom: 5vw;
}

.bonk .playerinfo {
  padding-bottom: 2.5vw;
  padding-top: 1vw;
  margin-bottom: -60vw;
}
.sergei .nickname {
  /* font-size: 45pt; */
  font-size: 6vw;
  margin-bottom: -2vw;
  background-color: #000;
  text-align: center;
  font-weight: 900;
  color: #f82b47;
  /* new css properties */
  position: relative;
  margin-top: 0vw;
}

.bonk .nickname {
  /* font-size: 45pt; */
  font-size: 6vw;
  margin-bottom: -2vw;
  background-color: #000;
  text-align: center;
  font-weight: 900;
  color: #f82b47;
  /* new css properties */
  position: relative;
  margin-top: 50vw;
}

.sergei .name {
  /* font-size: 20pt; */
  font-size: 3vw;

  margin-bottom: 27vw;
  margin-top: 0;
  background-color: #000;
  text-align: center;
  color: #fad1a6;
  /* new css properties */
  position: relative;
  padding-bottom: 0vw;
}

.bonk .name {
  /* font-size: 20pt; */
  font-size: 3vw;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #000;
  text-align: center;
  color: #fad1a6;
  /* new css properties */
  position: relative;
  padding-bottom: 0vw;
}

.vitals li {
  text-align: right;
  text-decoration: none;
  list-style: none;
  font-weight: 400;
  color: #f82b47;
  font-size: 2vw;
  padding-right: 5vw;
}

.vitals li::first-line {
  margin-top: 5vw;
}

.stats {
  text-align: left;
  margin-top: 5vw;
  color: #f82b47;
  margin-bottom: 0;
  font-size: 2vw;
}
.bio {
  text-align: justify;
  padding-left: 0;
  padding-right: 5vw;
}

.statheader {
  text-align: right;
  padding-right: 5vw;
  margin-top: 4vw;
}

.banner .blocktype {
  font-size: 15vw;
  margin-top: -16vw;
}

.banner .blocktype:first-child {
  margin-top: -10vw;
}

.banner .blocktype:last-child {
  margin-bottom: -15vw;
}

nav ul li a {
  font-size: 2vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

nav ul li a:first-child {
  padding-left: 10vw;
}

footer h3, footer p, footer li a {
  font-size: 2vw;
}

footer h3 {
  padding-bottom: 2vw;
  margin-top: 1vw;
}

footer {
  margin-top: 60vw;
}

}

@media only screen and (min-width: 60em) {
