html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Outfit', sans-serif;
  background-color: #f82b47;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}


header {
  background-color: #f82b47;
  margin: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
}

header nav ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
}

footer {
background-color: #000;
color: #f82b47;
margin-top: 15rem;
}

footer h3 {
  padding-top: 1rem;
}

footer p {
padding-left: 1rem;
padding-right: 1rem;
padding-top: 0.5rem;
margin-top: -7vw;
margin-bottom: -1vw;
}

footer h3, footer p {
  text-align: center;
}

footer ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
}

header nav a {
  color: #000;
  text-decoration: none;
  font-weight: 900;
}

footer a {
  color: #fad1a6;
  text-decoration: none;
  font-weight: 900;
  padding-left: 1rem;
  padding-right: 1rem;
}

header nav a:hover {
  color: #fad1a6;
}

footer a:hover {
  color: #f82b47;
}

header nav li {
  padding: 1rem;
}

header nav li:first-child {
  padding-left: 0rem;
}

.sergei {
  color: #000;
  /* new css properties */
  /* define a relative positioning system */
  position: relative;
  top: 4em;
}

.sergei .nickname {
  /* font-size: 45pt; */
  font-size: 12.9vw;
  margin-bottom: -1rem;
  background-color: #000;
  text-align: center;
  font-weight: 900;
  color: #f82b47;
  /* new css properties */
  position: relative;
  margin-top: -10vw;
}

.bonk .nickname {
  /* font-size: 45pt; */
  font-size: 12.9vw;
  margin-bottom: -1rem;
  background-color: #000;
  text-align: center;
  font-weight: 900;
  color: #f82b47;
  /* new css properties */
  position: relative;
  margin-top: 55vw;
}

.sergei .name {
  /* font-size: 20pt; */
  font-size: 5.7vw;

  margin-bottom: 8rem;
  margin-top: 0;
  background-color: #000;
  text-align: center;
  color: #fad1a6;
  /* new css properties */
  position: relative;
  padding-bottom: 0.5rem;
}

.bonk .name {
  /* font-size: 20pt; */
  font-size: 5.7vw;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #000;
  text-align: center;
  color: #fad1a6;
  /* new css properties */
  position: relative;
  padding-bottom: 0.5rem;
}

.sergei img {
  /* width: 28rem; */
  /* width: 100%; */
  /* margin-bottom: 0; */
  /* transform: skewY(-20deg); */
  /* padding-top: 0; */

  /* new css properties */
  /* a height of 100vw will force a square container */
  height: 100vw;
}

.sergei .number {
  color: #000;
  /* transform: skewY(20); */
  /* font-size: 140pt; */
  font-size: 45vw;
  /* margin-bottom: -11.5rem; */
  /* margin-top: -2rem; */
  font-weight: 900;
  width: 100%;
  /* new css properties */
  position: absolute;
  top: -70vw;
}

.bonk .number {
  color: #000;
  /* transform: skewY(20); */
  /* font-size: 140pt; */
  font-size: 45vw;
  /* margin-bottom: -11.5rem; */
  /* margin-top: -2rem; */
  font-weight: 900;
  width: 100%;
  /* new css properties */
  position: absolute;
  top: 203vw;
}

.sergei .playerinfo {
  background-color: #fad1a6;
  /* padding-top: 7rem; */
  padding-top: 1rem;
  /* margin-top: -10rem; */
  margin-top: -30vw;

  padding-bottom: 8rem;
  margin-bottom: -18rem;
    /* clip-path: polygon(0 33%, 100% 1%, 100% 100%, 0% 100%); */
}

.bonk .playerinfo {
  background-color: #fad1a6;
  /* padding-top: 7rem; */
  padding-top: 1rem;
  /* margin-top: -10rem; */
  margin-top: 0vw;

  padding-bottom: 4rem;
  margin-bottom: -18rem;
    /* clip-path: polygon(0 33%, 100% 1%, 100% 100%, 0% 100%); */
}

.vitals li {
  text-align: center;
  text-decoration: none;
  list-style: none;
  font-weight: 400;
  color: #f82b47;
  font-size: 3.3vw;
}

.vitals li strong {
  color: #000;
}

.bio {
  text-align: justify;
  padding-right: 1rem;
  padding-left: 1rem;
}

.stats {
  text-align: center;
  margin-top: 0;
  color: #f82b47;
  margin-bottom: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 3.3vw;
}

.statvalue {
  color: #000;
  margin-bottom: 0;
}

.statheader {
   margin-bottom: 0;
   text-align: center;
   color: #f82b47;
   font-weight: 700;
   padding-right: 1rem;
   padding-left: 1rem;
   font-size: 3.3vw;
 }

.banner .blocktype {
  color: #fad1a6;
  font-weight: 900;
  /* font-size: 95pt; */
  font-size: 28.5vw;
  /* line-height: 1; */
  line-height: 28.5vw;
  padding: 0;
  margin-top: 0;
  /* margin-bottom: -1.5rem; */
  margin-bottom: -5vw;
  text-transform: uppercase;
  /* new css property */
  /* force each span onto its own line */
  display:block;
}

/* New selectors */
  /* Use a clipping mask instead of skewing the media */
.sergei-clip {
  position: relative;
  width: 100%;
  object-fit: scale-down;
  margin-top: -20vw;
  margin-bottom: -42vw;
  transform: skewY(20deg);
  margin-left: 0;
  margin-right: 0;
}

}
